/* ---------------------------- */
/* Base
/* ---------------------------- */
html{
 font-size: 62.5%;  
}
body{
  font-size: 1.6rem;
  letter-spacing: .05em;
  font-family: 'Noto Serif','Noto Serif JP', serif;
  color: #171717;
}
img{
  vertical-align: bottom;
  width: 100%;
}

.section-wrapper{
  padding: 100px 0 70px;
}
.section-title{
  /* max-width: 1000px; */
  color: #282f35;
  font-size: 6rem;
  /* font-style: italic; */
  font-family: 'Josefin Sans', sans-serif;
  /* margin:0 auto 80px; */
  /* padding: 0 20px; */
  margin-bottom: 20px;
  text-align: center;
}
/* .section-title::after{
 content: "";
 display: inline-block;
 background-color: #282f35;
 width: 200px;
 height: 5px;
 margin-left: 30px;
 vertical-align: middle;
} */
.section-inner{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
}
.text-right{
  text-align: right;
}
.text-white{
  color: #fff;
}
.section-title.text-white::after{
  background-color: #fff;
}

.link-btn{
  display: block;
  width: 235px;
  line-height: 60px;
  margin: 0 auto 70px;
  background-color: #171717;
  /* box-shadow: 0 0 1px #1b1310; */
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}
.link-btn:hover{
  opacity: .7;
  transition: .3s;
}
.sp-br{
  display: none;
}
/* ---------------------------- */
/* header
/* ---------------------------- */
.header{
  padding: 19px 30px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  box-sizing: border-box;
  width: 100%;
  transition: .3s;
  
}
.header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.header.fixed{
  position: fixed;
  background-color: #DDDDDD;
  padding: 10px;
  width: 100%;
  transition: .3s;
}
.header a{
  color: #fff;
  text-decoration: none;
  transition: .3s;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}
.header a:hover{
  opacity: .7;
  transition: .3s;
}
.site-title{
  font-size: 2.6rem;
}
.nav-list{
  display: flex;
}
.nav-item{
  margin-right: 30px;
}
.nav-item:last-of-type{
  margin-right: 0;
}
.header-nav{
  display: none;
}

/* ---------------------------- */
/* header_burger
/* ---------------------------- */
.header{
  padding: 30px 4vw 0;
}
.header-nav{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #282F35;
}
.nav-list{
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-item{
  margin: 0 0 30px;
}
.nav-item:last-of-type{
  margin-bottom: 0;
}

.burger-btn{
  display: block;
  position: absolute;
  top: 17px;
  right: 4vw;
}
.burger-btn .bar{
  display: block;
  height: 3px;
  width: 30px;
  background-color: #fff;
}
.bar_top{
  margin-bottom: 8px;
}
.bar_mid{
  margin-bottom: 8px;
}

/* ハンバーガーメニューが開いたとき */
.burger-btn.cross .bar_top{
  transform: rotate(45deg) translate(8px,8px);
  transition: .3s;
}
.burger-btn.cross .bar_mid{
  opacity: 0;
  transition: .3s;
}
.burger-btn.cross .bar_bottom{
  transform: rotate(-45deg) translate(8px,-8px);
  transition: .3s;
}
body.noscroll{
  overflow: hidden;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/* ---------------------------- */
/* fv
/* ---------------------------- */
.fv{
  /* height: 100vh; */
  margin-top: 20px;
  min-height: 550px;
  position: relative
}
.fv img{
  object-fit: cover;
  /* height: 100vh; */
  min-height: 100%;
}
.main-copy{
  position: absolute;
  left: 120px;
  bottom: 177px;
  color: #fff;
}
.en-copy{
  font-size: 7rem;
  margin-bottom: 31px;
  font-weight: bold;
}
.jp-copy{
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.slick-arrow{
  display: none !important; 
}
/* ---------------------------- */
/* concept
/* ---------------------------- */
.concept-lead{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 60px;
  font-weight: bold;
  line-height: 1.67;
}
.concept-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.concept-text{
  text-align: center;
  /* max-width: 440px; */
  line-height: 1.87;
  font-weight: bold;
}
.concept-img-wrapper{
  width: 44%;
  margin-left: 20px;
}

/* ---------------------------- */
/* staff
/* ---------------------------- */
.bg-staff{
  background-image: url(../img/staff-bgi@2x.jpg);
  background-size: cover;
  background-position: center;
}
.staff-list{
  max-width: 1000px;
  margin: 0 auto 80px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}
.staff-item{
  width: 32%;
  background-color: #fff;
}
.staff-item a{
  color: #141414;
  text-decoration: none;
}
.staff-list-text{
  padding: 25px 20px;
}

.card{
  /* width: 30px; */
  height: auto;
}
.card__imgframe{
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  background: url(https://placehold.jp/640x360.png) no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}
.card__textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #ffffff;
  box-sizing: border-box;
}
.card__textbox > * + *{
  margin-top: 10px;
}
.card__titletext{
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}
.card__overviewtext{
  font-size: 17px;
  line-height: 150%;
}
.card-skin{
  overflow: hidden;
  border-radius: 8px;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-bottom: solid 5px #888;
}


/* ---------------------------- */
/* price
/* ---------------------------- */
.price-list{
  display: flex;
}
.price-item{
  width: 33.3%;
}
.price-item a{
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  line-height: 320px;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  transition: .3s;
}
.price-item a:hover{
  background-color: rgba(40,47,53,.7);
  transition: .3s;
}
.price-item.price_1{
  background-image: url(../img/price-img01@2x.jpg);
}
.price-item.price_2{
  background-image: url(../img/price-img02@2x.jpg);
}
.price-item.price_3{
  background-image: url(../img/sevice-img03@2x.jpg);
}

/* 料金テーブル */
table{
  border-collapse:separate;
  border-spacing: 5px;
  width: 100%;
}

table th,table td{
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
}

table th{
  width: 15rem;
  /* background: linear-gradient(to right, #00A1EE , #13C581); */
  background-color: #959595;
  color: white;
  /* border:solid 1px #927141; */
}

table td{
  /* background-color: #; */
  border:solid 1px #a79f95;
}

/* ---------------------------- */
/* 店舗情報・地図 */
/* ---------------------------- */
#location {
  /* padding: 4% 0;  */
}
#location .wrapper {
  display: flex;
  justify-content: space-between;
}
.location-info {
  width: 22%;
}
.location-info p {
  padding: 12px 10px;
}
.location-map {
  width: 74%;
}



/* ---------------------------- */
/* contact
/* ---------------------------- */
.bg-contact{
  background-image: url(../img/contact-bgi@2x.jpg);
}
.contact-text{
  text-align: center;
  /* color: #fff; */
  font-size: 2rem;
  margin-bottom: 40px;
}

/* ---------------------------- */
/* SNS */
/* ---------------------------- */

/* ボタン全体 */
.sns_item{
  border-radius:50%;
  position:relative;
  display:inline-block;
  width:50px;
  height:50px;
  font-size:30px;
  text-decoration:none;
  transition:.5s;
  }
  /* ボタンマウスホバー時のテキスト指定 */
  .sns_item:hover{
  color:#fff!important;
  }
  /* アイコンをど真ん中に */
  .sns_item i{
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  }
  /* Twitter */
  .sns_item.fl_tw2{
  border:solid 1px #55acee;
  color:#55acee;
  }
  /* Twitterマウスホバー時 */
  .sns_item.fl_tw2:hover{
  border:solid 1px #55acee;
  background:#55acee;
  }
  /* Instagram */
  .sns_item.insta_btn2 {
  border:solid 1px #c6529a;
  color:#c6529a;
  font-size:35px;
  }
  /* Instagramマウスホバー時 */
  .sns_item.insta_btn2:hover{
  border:solid 1px #c6529a;
  background:#c6529a;
  }

  /* LINE */
  .sns_item.fl_li2{
  border:solid 1px #00c300;
  color:#00c300;
  font-size:35px;
  }
  /* LINEマウスホバー時 */
  .sns_item.fl_li2:hover{
  border:solid 1px #00c300;
  background:#00c300;
  }
  
  /* ulタグの内側余白を０にする */
  ul.sns_list{
  padding:0;
  }
  /* ボタン全体の位置 */
  .sns_list{
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  }
  /* ボタン同士の余白 */
  .sns_list li{
  margin: 10px;
  text-align:center;
  }

/* ---------------------------- */
/* footer
/* ---------------------------- */
.footer{
  padding: 30px 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #282F35;
}

@media screen and (max-width:768px){
  /* ---------------------------- */
  /* base_sp
  /* ---------------------------- */
  .section-wrapper{
    padding: 100px 0 40px;
  }
  .section-title{
    padding: 0 4vw;
    font-size: 5rem;
    margin-bottom: 50px;
  }
  .section-title::after{
    width: 90px;
  }
  .section-inner{
    padding: 0 4vw;
  }

  .link-btn{
    margin-bottom: 40px;
  }

  .sp-br{
    display: block;
  }
  .pc-br{
    display: none;
  }


  /* ---------------------------- */
  /* fv_sp
  /* ---------------------------- */
  .fv {
    margin-top: 250px;
  }

  .main-copy{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
  }
  .en-copy{
    font-size: 9.8vw;
  }
  .jp-copy{
    font-size: 8vw;
  }

    /* ---------------------------- */
    /* concept_sp
    /* ---------------------------- */
    .concept-lead{
      font-size: 2rem;
      margin-bottom: 32px;
    }
    .concept-content{
      display: block;
      margin-bottom: 40px;
    }
    .concept-text{
      /* margin-bottom: 30px; */
      margin: 10px 13px;
    }
    .concept-img-wrapper{
      width: 100%;
      margin: 0;
    }

    /* ---------------------------- */
    /* staff_sp
    /* ---------------------------- */
    .staff-list{
      display: block;
      padding: 0 4vw;
      margin-bottom: 80px;
    }
    .staff-item{
      width: 320px;
      max-width: 100%;
      margin: 0 auto 30px;
    }

    /* ---------------------------- */
    /* price_sp
    /* ---------------------------- */
    .price-list{
      display: block;
      margin-bottom: 40px;
    }
    .price-item{
      width: 100%;
      margin-bottom: 30px;
    }
    .price-item a{
      line-height: 250px;
    }

    /* ---------------------------- */
    /* 店舗情報・地図 / SNS */
    /* ---------------------------- */
    #location .wrapper,
    #sns .wrapper {
        flex-direction: column;
    }
    iframe,
    .location-info,
    .location-map,
    .sns-box {
        width: 100%;
    }

}